* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  background-color: black;
}
h1 {
  color: royalblue;
}
.nav-links {
  display: flex;
  border-radius: 5px;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  width: 100%;
  color: white;
}
.disc {
  position: absolute;
  display: inline;
  color: silver;
}
.timer {
  position: fixed;
  bottom: 0;
  right: 0;
  color: rgb(208, 255, 147);
}
p {
  color: rgb(253, 15, 253);
}
.meal,
input {
  color: rgb(255, 255, 255);
}
li {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  color: turquoise;
  box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
  transition: 0.3s;
  width: 40%;
  padding: 10px;
  margin: 15px;
}
li:hover {
  box-shadow: 0px 18px 30px 0px rgba(255, 255, 255, 0.945);
}
.footer-list {
  color: aliceblue;
  display: inline;
}
.card {
  color: aqua;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(253, 251, 251);
  transition: 0.3s;
  width: 40%;
  padding: 10px;
  text-align: center;
  margin: 15px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgb(255, 251, 251);
}
.addmeal {
  color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
  transition: 0.3s;
  width: 60%;
  text-align: center;
  padding: 15px;
  margin: 25px;
}
button {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 15px;
  font-size: 1em;
}
