* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Lucida Sans Unicode";
  margin: 0 0.5em;  
  background-image: url("https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header {
  background-color: #2e5240;
  width: 100%;
  top: 0.5em;
  position: relative;
  padding: 2px;
}
.header h1 {
  font-variant: small-caps;
  color: rgb(248, 248, 248);
  text-align: center;
 /* animation: glow 1s ease-in-out infinite alternate;*/
}
/* @keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(253, 252, 252), 0 0 20px rgb(252, 251, 251),
      0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073,
      0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}*/
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.nav-links a {
  display: inline;
  color: #fcf9f9;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
}
.itemname , .sub{
  font-size: 20px;
  color: rgb(245, 241, 241);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  background-color: #2e5240;
}
.disc {
  position: center;
  display: inline;
}
.disc img {
  max-width: 800px;
  max-height: 600px;
}
.timer {
  position: relative;
  right: 0;
  bottom: 0;
  color: rgb(7, 12, 0);
  display: inline;
}
p {
  color: rgb(10, 0, 10);
}
.card {
  display: inline-block;
  color: rgb(0, 27, 27);
  background-color: blanchedalmond;
  box-shadow: 0 4px 8px 0 rgb(5, 5, 5);
  transition: 0.3s;
  width: 20%;
  text-align: center;
  margin: 10px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgb(8, 8, 8);
}
.add,
.contact {
  color: rgb(10, 0, 0);
  border-radius: 14px;
  box-shadow: 0 4px 8px 0 rgb(7, 7, 7);
  transition: 0.3s;
  width: 30%;
  text-align: center;
  padding: 15px;
  margin: 25px;
  background-image: url("http://getfitkl.com/wp-content/uploads/2017/06/Clean-Bites-3.jpg");
  background-size: cover;
  background-position: center;
}
.contact h3,
.add h3 {
  position: relative;
  animation: myfirst 15s 1;
  animation-direction: normal;
}
@keyframes myfirst {
  0% {
    left: 10px;
    top: 0px;
  }
  25% {
    color: darkviolet;
    left: 120px;
    top: 0px;
  }
}
.add:hover,
.contact:hover {
  box-shadow: 0 8px 16px 0 rgb(8, 8, 8);
}
/*button {
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgb(15, 15, 15);
  color: rgb(91, 7, 247);
  padding: 5px;
  font-size: 1em;
}
button:hover {
  box-shadow: 0 8px 16px 0 rgb(8, 8, 8);
}*/
input {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(17, 17, 17);
  color: rgb(98, 0, 255);
  padding: 5px;
}
.addButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
  text-align: center;

}
footer {
  text-align: center;
  background-color: #2e5240;
  width: 100%;
  bottom: 0.5em;
  position: relative;
  padding: 2px;
  top:5px;
}
footer .map iframe {
  width: 200px;
  height: 200px;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.footer-list {
  position: relative;
  display: flex;
  padding: 0 3rem;
}
.footer-text {
  position: relative;
  display: flex;
  flex-direction: column;
}
.footer-text a {
  display: flex;
  list-style: none;
  align-items: center;
  text-decoration: none;
  color: rgb(247, 210, 210);
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  #root {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-links a {
    font-size: 1em;
  }
  .contact {
    width: 50%;
  }
  input {
    width: 100%;
  }
  .meals img {
    width: 100%;
  }
  .meals,
  .reviews,
  .reservation {
    font-size: 0.7em;
  }
  .disc img {
    width: 100%;
    height: auto;
  }
  .add h3,
  .contact h3 {
    animation: none;
  }
  .contact p {
    font-display: flex;
  }
  .header {
    width: 100%;
  }
  footer {
    width: 100%;
    float: none;
    padding: unset;
  }
  footer ul,
  .footer-list,
  .footer-text,
  .footer-text a {
    display: block;
    flex-direction: column;
  }
  .footer-text a {
    width: 100%;
  }
}
