@media (min-width: 481px) and (max-width: 768px) {
  #root {
    padding-left: 0;
    padding-right: 0;
    margin: unset;
  }
  input {
    width: 100%;
  }
  .desc img {
    max-width: 50%;
  }
  footer {
    width: 50%;
    float: none;
    padding: unset;
  }
  footer ul,
  .footer-list,
  .footer-text,
  .footer-text a {
    display: block;
    flex-direction: column;
  }
  .footer-text a {
    width: 100%;
  }
}
